<template name="footer">
	{{#if isAndroid}}
		{{#ionTabs style="android"}}
			{{>ionTab title="Home" path="home" iconOn="android-home" iconOff='android-home' }}
			{{>ionTab title="tagalongs" path="tagalongs" iconOn="android-list" iconOff='android-list'}}
			{{>ionTab title="Explore" path="activityList" iconOn="android-search" iconOff='android-search'}}
			{{>ionTab title="Profile" path="profile" iconOn="android-person" iconOff='android-person' }}
			<!-- {{>ionTab title="Preferences" path="preferences" iconOn="android-settings" iconOff='android-settings'}} -->
			{{#if developer}}
				{{>ionTab title="Testing" path="testing" iconOn="android-people" iconOff="android-people"}}
			{{/if}}
		{{/ionTabs}}
	{{else}}
		{{#ionTabs style="ios" class="tabs-striped"}}
			{{>ionTab title="Home" path="home" iconOn="ios-home" iconOff='ios-home-outline' }}
			{{>ionTab title="My Tagalongs" path="tagalongs" iconOn="ios-list" iconOff='ios-list-outline'}}
			{{>ionTab title="Explore" path="activityList" iconOn="ios-search-strong" iconOff='ios-search'}}
			{{>ionTab title="Profile" path="profile" iconOn="ios-person" iconOff='ios-person-outline' }}
			<!-- {{>ionTab title="Preferences" path="preferences" iconOn="ios-gear" iconOff='ios-gear-outline'}} -->
			{{#if developer}}
				{{>ionTab title="Testing" path="testing" iconOn="ios-people" iconOff="ios-people-outline"}}
			{{/if}}
		{{/ionTabs}}
	{{/if}}
</template>