<template name='layout'>
    {{#ionBody}}
		{{#if currentUser}}  
			{{>ionNavBar class='bar-positive'}}

			{{#if hasFeebacks }}
				{{#with topFeeback }}
					{{> activityFeedback}}
				{{/with}}				
			{{else}}
				{{#if hasReminders }} 
					{{#with topReminder}}
						{{> activityReminder}}
					{{/with}}
				{{else}}
					{{#ionNavView}}
						{{> yield}} 
					{{/ionNavView}}

					{{> footer}}
				{{/if}}
			{{/if}}
		{{else}}		      
	        {{> login}}
	    {{/if}}	
	{{/ionBody}}
</template>