<template name='login'>
	{{#ionView}}
	    {{#ionContent class='registerUser'}}
	    	<div id="loginHeader">
	    		<img class="logo" src="/img/Textoylogo_blancoMD.png">

	    		<p>Exercising with friends is better and more fun. Friends can help get you started!</p>

	    	</div>
	    	<div class="loginForm">
			    <h5>
			    	<input type="email" id="login-email" required placeholder="Email address"> 
			    </h5>
			    <h5>
			    	<input type="password" id="login-password" placeholder="Password"> 
			    </h5>
			    
			    <a data-ion-modal='register'>Create account</a>
			    
			    <button class="button button-full" id="login"> log in </button>
			    
			    
			</div>
	    {{/ionContent}}
	{{/ionView}}	    
</template>