<template name='register'>	
	{{#ionModal customTemplate=true}}
		<!-- <div class="bar bar-header bar-stable">
	        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
	        <h2 class="title">Create User Account</h2>
	     	<button id="create" class="button button-positive button-clear">Create</button>
	    </div> -->

		{{#ionView}}
		    {{#ionContent class='padding registerUser'}}
		    	<h3> Join Tagalong!</h3>
		    	<div class='loginForm'>
				    <h5>First Name: <input type="text" id="first-name"> </h5>
				    <h5>Last Name: <input type="text" id="last-name"> </h5>
				    <h5>Email: <input type="email" id="register-email" required placeholder="me@example.com"> </h5>
				    <h5>Password: <input type="password" id="register-password"> </h5>
				    <h5>Confirm Password: <input type="password" id="confirm-password"> </h5>
				    <button class="button button-positive button-block" id="
				    create-user">Sign me up!</button>
				    <button class="button button-assertive button-outline button-small" id="create-user" data-dismiss="modal">Cancel</button>
				</div>
		    {{/ionContent}}
		{{/ionView}}
	{{/ionModal}}
</template>