
.icon-cycling:before { content: '\e800'; } /* '' */
.icon-soccer:before { content: '\e801'; } /* '' */
.icon-swimming:before { content: '\e802'; } /* '' */
.icon-basketball:before { content: '\e803'; } /* '' */
.icon-meditation:before { content: '\e804'; } /* '' */
.icon-hiking:before { content: '\e805'; } /* '' */