<template name="activityFeedback">
	{{#contentFor "headerButtonLeft"}}
	    <!-- {{>ionNavBackButton path="layout"}} -->
	{{/contentFor}}

	{{#contentFor 'headerTitle'}}
		<h1 class="title">Feedback!</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent class='activityFeedback'}}
			<h5 class="listSubHeader">{{prettifyDate this.time.date}}</h5>
			{{#ionItem class="myActivityItem" path="activity"}}
				{{> myActivityCard}}
			{{/ionItem}}

			<h5 class="listSubHeader">Keep yourself motivated.</h5>
			<button id="message-self" class="button button-block button-energized">{{> ionIcon icon="ios-videocam"}} Record Message to your future self!</button>

			{{> currentStreak }}

			<button class="button button-block button-assertive" id="dismissBtn">Dismiss</button>
		{{/ionContent}}
	{{/ionView}}

</template>