<!-- <template name='activityList'>
	<ul>
		{{#each activities}}
			<li>{{_id}}</li>
			<ul>
				{{#each activities}}
				<li>
					<a href='{{pathFor 'activity'}}'>
						<div>{{starttime}} for {{duration}}</div>
						<div>{{profileimg}}</div>
						<div>{{type}}</div>
						<div>with {{host}}</div>
						{{#if location}}<div>at {{location}}</div>{{/if}}
					</a>
				</li>
				{{/each}}
			</ul>
		{{/each}}
	</ul>
</template>
 -->

<template name='activityList'>
	<ul>
		{{#each activities}}
			<a href='{{pathFor 'activity'}}'>
				<div>{{prettifyDate time.date}}</div>
				<div>{{date.time}} for {{duration}} hrs</div>
				<div>{{profileimg}}</div>
				<div>{{type}}</div>
				<div>with {{host.name}}</div>
				{{#if location}}<div>at {{location.name}}</div>{{/if}}
			</a>
		{{/each}}
	</ul>
</template>

