<template name="activityReminder">
	{{#contentFor "headerButtonLeft"}}
	    <!-- {{>ionNavBackButton path="layout"}} -->
	{{/contentFor}}

	{{#contentFor 'headerTitle'}}
		<h1 class="title">Activity Reminder</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent class='padding activityReminder'}}
			<h5 class="listSubHeader">{{prettifyDate this.time.date}}</h5>
			{{#ionItem class="padding myActivityItem card" path="activity"}}
				{{> myActivityCard}}
			{{/ionItem}}

			{{#if hasVideos}}
				<h5 class="listSubHeader">Here's some motivation!</h5>
				{{#with getSelfMessage}}
					<!-- <video class='videoSelfMessage' src="http://dantsai.com/_/uploads/capturedvideo.MOV" controls preload></video> -->
					<video class='videoSelfMessage' src="{{this.url}}" controls preload></video>
				{{/with}}
			{{else}}
				<button id="message-self" class="button button-block button-energized">{{> ionIcon icon="ios-videocam"}} Record Message to future self</button>
			{{/if}}
			


			{{> currentStreak }}

			<button class="button button-block button-assertive" id="dismissBtn">Dismiss</button>
		{{/ionContent}}
	{{/ionView}}

</template>