<template name='activityNew'>
	{{#ionModal customTemplate=true}}
		<div class="bar bar-header bar-stable">
	        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
	        <h2 class="title">Create New Activity</h2>
	     	<button id="activity-add" class="button button-positive button-clear">Save</button>
	    </div>

		{{#ionContent class='addActivity'}}
			<h5 class="listSubHeader">Select the activities you want to create</h5>
		    <!-- {{#ionItem class='addActivity'}} -->
		    {{#ionItem}}
		    	{{>allActivitiesForm}}
			{{/ionItem}}

			<h5 class="listSubHeader">Select the day and time</h5>
			{{#ionItem class="activityDay"}}
				<ul>
					{{#each getWeek}}
						<li class='dayofweek' date="{{ this.full }}" value="{{this.date}}"><div>{{ firstLetter this.weekdayShort }}</div>{{ this.day }}</li>	
					{{/each}}
				</ul>
				<h5>Time <input id='activityTime' type='time' value="{{defaultTime}}"></h5>    
				<h5>Duration (hours)<input id='activityDuration' type='number' min='0' max='3'></h5>
			{{/ionItem}}

			<h5 class="listSubHeader">Select the location for you activity</h5>
			{{#ionItem class="mapSection"}}
				<h5>{{>ionIcon icon="ios-location"}} <input id='activityLocation' type='text' placeholder='Location name'></h5>
				<div class="map-container">
					{{> googleMap name="activityaddmap" options=activityaddMapOptions}}
					<div class="mapmarker"><img src="http://dantsai.com/_/mapmarker.png" width="32" height="32"></div>
				</div>

			{{/ionItem}}

		{{/ionContent}}
	{{/ionModal}}

</template>