<template name="activityReminder">
	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor 'headerTitle'}}
		<h1 class="title">Reminder</h1>

		<button class="button button-clear pull-right" id="dismissBtn">Dismiss</button>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent class='padding activityReminder'}}
			<h5 class="listSubHeader">{{prettifyDate time.date}}</h5>
			{{#ionItem class="padding myActivityItem card" path="activity"}}
				<!-- {{> ionIcon icon="ios-arrow-forward" class='positive'}} -->
				<div class="timeDetails">
					{{time.time}} <span class="activityDuration">{{> ionIcon icon='ios-stopwatch'}}  {{duration}} hours</span>

					<div class="timeline" style="max-width:{{getTimeLength duration 3}};"></div>
				</div>
				<h2>{{type}} {{>ionIcon icon="android-bicycle"}}</h2>
				
				<img class="activity_img" src="{{getUserPicUrl}}">

				<div class="activityInfo">
					{{#if notHost}}
						My Activity
					{{else}}
						with <strong>{{host.name}}</strong>
					{{/if}}

					<div class="location">
						{{> ionIcon icon="ios-location"}} {{ location.name}}
					</div>	
				</div>					

				<ul class="submenu">
					<li class="submenuItem">
						{{> ionIcon icon="ios-people-outline" title="Friends"}}

						{{#if friendCount}}
							<label>{{friendCount}}</label>
						{{/if}}

					</li>
					<li class="submenuItem">
						{{> ionIcon icon="ios-chatboxes-outline" title="Messages"}}

						<!-- {{#if friendCount}}
							<label>{{friendCount}}</label>
						{{/if}} -->
					</li>

					<li class="submenuItem">
						{{> ionIcon icon='ios-information-outline' title="updates"}}

						<!-- {{#if friendCount}}
							<label>{{friendCount}}</label>
						{{/if}} -->
					</li>
				</ul>
			{{/ionItem}}

			{{#if hasVideos}}
				<h5 class="listSubHeader">Here's some motivation!</h5>
				{{#with getSelfMessage}}

				{{/with}}
			{{else}}
				<button id="message-self" class="button button-block button-energized">{{> ionIcon icon="ios-videocam"}} Record Message to myself</button>
			{{/if}}
			


			{{> currentStreak }}

		{{/ionContent}}
	{{/ionView}}

</template>