<template name='activityEdit'>
	{{#ionModal }}
		<!-- {{#autoForm collection='Activities' doc=activity id="editActivityForm" type="update"}} -->
			<div class="bar bar-header bar-stable">
		        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
		        <h2 class="title">Edit Activity</h2>
		     	<button type="submit" class="button button-positive button-clear">Save</button>
		    </div>

		    <!-- <div class="content has-header overflow-scroll">
		        {{> afQuickFields omitFields="avatarUrl"}}
		    </div> -->

		    {{#ionContent class="padding"}}
		    	//CONTENT HERE
		    {{/ionContent}}
		{{/autoForm}}
	{{/ionModal}}


	<!-- <div><span>Activity: <input id='type' type='text' value='{{type}}'></span></div>
	<div><span>Location: <input id='location' type='text' value='{{location.name}}'></span></div>
	<div><span>Date: <input id='date' type='date' value='{{formatDate time.date}}'></span></div>
	<div><span>Time: <input id='time' type='time' value='{{time.time}}'></span></div>
	<div><span>Duration: <input id='duration' type='number' min='0' value='{{duration}}'></span></div>
	<div><span>Comments: <input id='comments' type='text' value='{{comments}}'></span></div>
	<button id="activity-edit">Edit Activity</button> -->
</template>