<template name="activityReminder">
	<!-- {{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton path="layout"}}
	{{/contentFor}} -->

	{{#contentFor 'headerTitle'}}
		<h1 class="title">Tagalong</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent class='activityReminder'}}
			<h5 class="listSubHeader">Your activity has ended. How did it go?</h5>
			{{#ionItem class="myActivityItem"}}
				{{> myActivityCard}}
			{{/ionItem}}

			{{#if hasVideos}}
				<h5 class="listSubHeader">Here's some motivation!</h5>
				{{#with getSelfMessage}}
					<!-- <video class='videoSelfMessage' src="http://dantsai.com/_/uploads/capturedvideo.MOV" controls preload></video> -->
					<video class='videoSelfMessage' src="{{this.url}}" controls preload></video>
				{{/with}}
			{{else}}
				<h5 class="listSubHeader">Keep yourself motivated for next time!</h5>
				<button id="message-self" class="button button-block button-energized">{{> ionIcon icon="ios-videocam"}} Record Message to future self</button>
			{{/if}}
			


			{{> currentStreak }}

			<button class="button button-block button-assertive" id="dismissBtn">Dismiss</button>
		{{/ionContent}}
	{{/ionView}}

</template>