<template name='activityNew'>
	{{#ionModal customTemplate=true}}
		<div class="bar bar-header bar-stable">
	        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
	        <h2 class="title">Create New Activity</h2>
	     	<button id="activity-add" class="button button-positive button-clear">Save</button>
	    </div>

		{{#ionContent class='padding addActivity'}}
			<div class="activityTypes">	
				<h5>Activity Type: <span></span></h5>
					<div>
						<img src="/icons/walking.svg" activity="Walking" class='activityIcon'>
						<img src="/icons/running.svg" activity="Running" class='activityIcon'>
						<img src="/icons/hiking.svg" activity="Hiking" class='activityIcon'>
						<img src="/icons/swimming.svg" activity="Swimming" class='activityIcon'>
						<img src="/icons/cycling.svg" activity="Cycling" class='activityIcon'>
						<img src="/icons/gym.svg" activity="Gym" class='activityIcon'>
						<img src="/icons/meditation.svg" class='activityIcon' activity="Meditation">
						<img src="/icons/soccer.svg" activity="Soccer" class='activityIcon'>
				</div>
			</div>

			<div class="activityDay"> 
				<h5>Date: <span></span></h5>
				<ul>
					{{#each getWeek}}
						<li class='dayofweek' date="{{ this.full }}" value="{{this.date}}">{{ this.weekdayShort }}<div>{{ this.day }}</div></li>	
					{{/each}}
				</ul>

				<h5>Time: <input id='activityTime' type='time' value="{{defaultTime}}">    Duration: <input id='activityDuration' type='number' min='0' max='3'></h5>
			</div>


			<h5>Location: <input id='activityLocation' type='text'></h5>

			<!-- <img src='/img/RSF.png'> -->
			<div class="map-container">
				{{> googleMap name="activityaddmap" options=activityaddMapOptions}}
				<div class="mapmarker"><img src="http://dantsai.com/_/mapmarker.png" width="32" height="32"></div>
			</div>
			

			<h5>Comments: </h5>
			<textarea id='activityComments'></textarea>

		{{/ionContent}}
	{{/ionModal}}

</template>