<template name="activity">

	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor 'headerTitle'}}
		<h1 class="title">{{type}}</h1>
	{{/contentFor}}

	{{#ionView }}
		{{scrollTop}}
		{{#ionContent class='padding activityDetail'}}
			{{#ionList class="card"}}
				{{#ionItem avatar=true class='header'}}
					<img class="activity_img" src="{{getUserPicUrl}}">
					<h1>{{type}} </h1>
					<i class="icon-{{type}} {{activityStatus}} activityIcon"></i>

					<p>with <span>{{host.name}}</span></p>

				{{/ionItem}}

				<!-- Date time Details -->
				{{#ionItem body=true class='details'}}
					<div>
						{{>ionIcon icon="ios-calendar-outline"}}
						{{prettifyDate time.date}}
					</div>
					<div>
						{{>ionIcon icon="ios-clock-outline"}}
						{{time.time}} for {{duration}} hrs
					</div>

				{{/ionItem}}

				<!-- Location Details -->
				{{#if location}}
					{{#ionItem body=true class="activityLocation"}}
						<div class="info">
							{{> ionIcon icon='ios-location'}}  {{location.name}}
						</div>
						<!-- <img src="/img/RSF.png" class="locationMap"> -->
						<div class="map-container">
							{{> googleMap name="exampleMap" options=exampleMapOptions}}
						</div>						
					{{/ionItem}}
				{{/if}}

				{{#if activityMember }}
					{{#ionItem body=true }}
						<button id="add-to-calendar" class="button button-block button-positive">{{>ionIcon icon="ios-calendar-outline"}} Add To Calendar</button>
					{{/ionItem}}
				{{/if }}

				<!-- Tagalongs Information-->
				{{#if tagalongs}}
					{{#ionItem body=true class="activityTagalongs"}}
						<p>
							<strong>{{friendCount}}</strong> tagging along with <strong>{{host.name}}</strong>
						</p>
						<div class="friends">
							{{#each taggers}}
								<li>
									<img class="tinyPic" src="{{profile.names.pic}}"><span class="userNames">{{profile.names.first}} {{profile.names.last}}</span>
								</li>
							{{/each}}
						</div>
					{{/ionItem}}
				{{/if}}

				<!-- Description Section-->
				{{#if comments}}
					{{#ionItem body=true class="activityTagalongs"}}
						<textarea id='activityComments'>{{comments}}</textarea>
					{{/ionItem}}
				{{/if }}

				<!-- Messages section -->
				{{#if activityMember }}
					{{#ionItem body=true class="activityMessages"}}
						<ul class="messageArea">
							{{#if hasMessages}}
								{{#each messages}}
									<li>{{this}}</li>
								{{/each}}
								{{ scrollMessages }}
							{{/if}}
						</ul>
						<input type="text" id="messageInput" placeholder="Leave a message..."><button class="button button-empty button-small" id='submitMessage'>Send</button>
					{{/ionItem}}
				{{/if }}

			{{/ionList}}


			{{scrollTop}}
			
			{{#if activityMember}}
				{{#if isHost}}
					<button id="activity-cancel" class="button button-block button-assertive">Cancel Activity</button>
				{{else}}
					<button id="activity-flake" class="button button-block button-assertive">Bail on {{ this.host.name }}</button>
				{{/if}}
			{{/if}}


			
		{{/ionContent}}
		{{#unless activityMember}}
			<div id="activity-join">
				<button id="tagalong" class="button button-full button-balanced">Tagalong!</button>
			</div>
			
		{{else}}
			<div id="activity-join">
				<button id="message-self" class="button button-full button-energized">{{> ionIcon icon="ios-videocam"}} Record Message to myself</button>
			</div>
			
			{{#if isHost}}
				<!-- Adds the EDIT button to the header -->
				{{#contentFor "headerButtonRight"}}
				    <button id="activity-edit" class="button button-clear" data-ion-modal="activityEdit" data-id="{{this._id}}">
				    	Edit
				    </button>
				{{/contentFor}}	
			{{/if}}
		{{/unless}}

	{{/ionView}}
</template>