<template name='activityList'>

	<div class="bar bar-header bar-stable bar-positive">
	{{#if headerDisplay}}	
	        <button id="activity-search" class="button button-clear searchActivity">
				{{> ionIcon icon="ios-search"}} 
			</button>
	        <h1 class="title">Activities</h1>
			
			<button id="activity-new" class="button button-clear pull-right" data-ion-modal="activityNew">
				{{> ionIcon icon="ios-plus-empty"}} 
			</button>
	{{else}}
	    <input type="search" id="search-activities" placeholder="Search activity, people, or location" value="{{ getSearchQuery }}">
		
		<button id="search-cancel" class="button button-clear pull-right">
			Cancel
		</button>
	{{/if}}
	</div>

	{{#ionView}}

		{{#ionSubheaderBar class="pillSubmenu"}}
			<ul class="pillMenu" id="activityListPill">
				<li class="{{ selectedFilter 'New'}}">New</li>
				<li class="{{ selectedFilter 'Recommended'}}">Recommended</li>
				<li class="{{ selectedFilter 'All'}}">All</li>
			</ul>
		{{/ionSubheaderBar}}

		{{#ionContent}}
			{{#if hasCompleteSettings}}
				{{#ionList}}
					{{#each activityDisplay}}
						<h5 class="listSubHeader">{{this.name}}</h5>
						{{#each this.activities}}
							{{#ionItem  class="myActivityItem" path="activity"}}
								{{> myActivityCard }}
							{{/ionItem}}
						{{/each}}
					{{/each}}
				{{/ionList}}
			{{else}}
				<div class="emptyPref">
					<p>Select the activities and people you want to Tagalong. This will help us give you better recommendations and keep you posted when activities you might be interested are created.</p>
					<button id="user-preferences-edit" class="button button-stable" data-ion-modal="userPreferences">{{> ionIcon icon="ios-gear-outline"}} Set Preferences</button> 
				</div>
			{{/if}}
			<!-- {{activitiesRecommend}} -->
		{{/ionContent}}
	{{/ionView}}
</template>



