<template name="activity">

	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor 'headerTitle'}}
		<h1 class="title">{{type}}</h1>
	{{/contentFor}}

	{{#ionView }}
		{{#ionContent class='padding activityDetail'}}
			{{#ionList class="card"}}
				{{#ionItem avatar=true class='header'}}
					<img class="activity_img" src="{{getUserPicUrl}}">
					<h1>{{type}} </h1>
					{{> ionIcon icon="android-bicycle" class="activityIcon"}}

					<p>with <span>{{host.name}}</span></p>

				{{/ionItem}}

				<!-- Date time Details -->
				{{#ionItem body=true class='details'}}
					<div>
						{{>ionIcon icon="ios-calendar-outline"}}
						{{prettifyDate time.date}}
					</div>
					<div>
						{{>ionIcon icon="ios-clock-outline"}}
						{{time.time}} for {{duration}} hrs
					</div>

				{{/ionItem}}

				<!-- Location Details -->
				{{#if location}}
					{{#ionItem body=true class="activityLocation"}}
						<div class="info">
							{{> ionIcon icon='ios-location'}}  {{location.name}}
						</div>
						<img src="/img/RSF.png" class="locationMap">
					{{/ionItem}}
				{{/if}}

				<!-- Tagalongs Information-->
				{{#if tagalongs}}
					{{#ionItem body=true class="activityTagalongs"}}
						<p>
							<strong>{{friendCount}}</strong> tagging along with <strong>{{host.name}}</strong>
						</p>
						<div>
							{{#each taggers}}
								<img class="tinyPic" src="{{names.pic}}">
							{{/each}}
						</div>
					{{/ionItem}}
				{{/if}}

				<!-- Messages Section-->
				{{#ionItem body=true class="activityTagalongs"}}
					<div>Comments</div>
					<textarea id='activityComments'>{{comments}}</textarea>
				{{/ionItem}}

			{{/ionList}}

			{{#if activityMember}}
				<!-- {{#ionItem body=true}} -->
					{{#if isHost}}
						<button id="activity-cancel" class="button button-block button-assertive" path="tagalongs">Cancel Activity</button>
					{{else}}
						<button id="activity-flake" class="button button-block button-assertive">Bail from Tagalong</button>
					{{/if}}
				<!-- {{/ionItem}} -->
			{{/if}}


			
		{{/ionContent}}
		{{#unless activityMember}}
			<div id="activity-join">
				<button id="activity-join" class="button button-full button-energized">Tagalong!</button>
			</div>
			
		{{else}}
			<div id="activity-join">
				<button class="button button-full button-balanced">{{> ionIcon icon="ios-videocam"}} Record Message to myself</button>
			</div>
			
			{{#if isHost}}
				<!-- Adds the EDIT button to the header -->
				{{#contentFor "headerButtonRight"}}
				    <button id="activity-edit" class="button button-clear" data-ion-modal="activityEdit" data-id="{{this._id}}">
				    	Edit
				    </button>
				{{/contentFor}}	
			{{/if}}
		{{/unless}}

	{{/ionView}}
</template>