<template name="activity">

	{{#contentFor "headerButtonLeft"}}
	    {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor 'headerTitle'}}
		<h1 class="title">{{type}}</h1>
	{{/contentFor}}

	{{#ionView }}
		{{#ionContent class='activityDetail'}}
			<div class="subsectionHeader">{{prettifyDate time.date}}</div>
			{{#ionList}}
				{{#ionItem class='header myActivityItem'}}
					<div class="timeDetails">
						{{time.time}} <span class="activityDuration">  
						{{duration}} hours
						</span>

						<div class="timeline" style="max-width:{{getTimeLength}};"></div>
					</div>
					<div class="activityInfo">
						<div class="userPicture">
							<div class="h2">
								<div class="h2in">
									<img src="{{getUserPicUrl}}">
								</div>
							</div>
						</div>
						<div class="activityDetails">
							<h2>{{type}}</h2>
							<i class="icon-{{type}} {{activityStatus}} activityIcon"></i>
							{{#if notHost}}
								created by <strong>you</strong>
							{{else}}
								with <strong>{{host.name}}</strong>
							{{/if}}
						</div>	
					</div>
				{{/ionItem}}

				<!-- Location Details -->
				{{#if location}}
					{{#ionItem body=true class="activityLocation"}}
						<div class="info">
							{{> ionIcon icon='ios-location'}}  {{location.name}}
						</div>
						<!-- <img src="/img/RSF.png" class="locationMap"> -->
						<div class="map-container">
							{{> googleMap name="detailMap" options=detailMapOptions}}
						</div>						
					{{/ionItem}}
				{{/if}}

				{{#ionItem body=true class="calendar-section"}}
					<button id="add-to-calendar" class="button button-full button-clear">{{>ionIcon icon="ios-calendar-outline"}}  Add this activity to your Calendar {{> ionIcon icon="ios-arrow-forward" class='pull-right'}}</button>
					
				{{/ionItem}}

				<!-- Tagalongs Information-->

				{{#if tagalongs}}
					<div class="subsectionHeader"><strong>{{friendCount}} tagalongs</strong> with <strong>{{host.name}}</strong></div>
					{{#ionItem body=true class="activityTagalongs"}}
						{{> tagalongList}}
						{{populateTagalongList}}
					{{/ionItem}}
				{{/if}}

				<!-- Description Section-->
				{{#if comments}}
					{{#ionItem body=true class="activityTagalongs"}}
						<textarea id='activityComments'>{{comments}}</textarea>
					{{/ionItem}}
				{{/if }}

				<!-- Messages section -->
				{{#if activityMember }}
					<div class="subsectionHeader">{{messages.length}} Messages in this activity</div>
					{{#ionItem body=true class="activityMessages"}}
						<ul class="messageArea">
							{{#if hasMessages}}
								{{#each messages}}
									<li>{{this}}</li>
								{{/each}}
								{{ scrollMessages }}
							{{/if}}
						</ul>
						<input type="text" id="messageInput" placeholder="Leave a message..."><button class="button button-empty button-small" id='submitMessage'>Send</button>
					{{/ionItem}}
				{{/if }}

			{{/ionList}}


			{{scrollTop}}

			{{#if activityMember}}
				{{#if notPast}}
					{{#if isHost}}
						<button id="activity-cancel" class="button button-block button-assertive">Cancel Activity</button>
					{{else}}
						<button id="activity-flake" class="button button-block button-assertive">Bail on {{ this.host.name }}</button>
					{{/if}}				
				{{/if}}
			{{/if}}


			
		{{/ionContent}}
		{{#unless activityMember}}
			<div id="activity-join">
				<button id="tagalong" class="button button-full button-balanced">Tagalong!</button>
			</div>
			
		{{else}}
			<div id="activity-join">
				<button id="message-self" class="button button-full button-energized">{{> ionIcon icon="ios-videocam"}} Record Message to myself</button>
			</div>
			
			{{#if isHost}}
				<!-- Adds the EDIT button to the header -->
				{{#contentFor "headerButtonRight"}}
				    <button id="activity-edit" class="button button-clear" data-ion-modal="activityEdit" data-id="{{this._id}}">
				    	Edit
				    </button>
				{{/contentFor}}	
			{{/if}}
		{{/unless}}

	{{/ionView}}
</template>