<template name="allActivitiesEdit">
	<div class="activityTypeGroups">
		<div class="activityIconGroup">
			<p class='{{ isActivities "Walking"}}' activity="Walking">
				<i class="icon-Walking" activity="Walking"></i>
			</p>Walking
		</div>
		<div class="activityIconGroup">
			<p class='{{ isActivities "Running"}}' activity="Running">
			<i class="icon-Running" activity="Running"></i>
			</p>Running
		</div>
		<div class="activityIconGroup">
			<p class='{{ isActivities "Hiking"}}' activity="Hiking">
			<i class="icon-Hiking" activity="Hiking"></i>
			</p>
			Hiking
		</div>
		<div class="activityIconGroup">
			<p class='{{ isActivities "Swimming"}}' activity="Swimming">
				<i class="icon-Swimming" activity="Swimming"></i>
			</p>Swimming
		</div>
		<div class="activityIconGroup">
			<p class='{{ isActivities "Cycling"}}' activity="Cycling">
			<i class="icon-Cycling" activity="Cycling"></i></p>Cycling
		</div>

		<div class="activityIconGroup">
			<p class='{{ isActivities "Gym"}}' activity="Gym">
			<i class="icon-Gym" activity="Gym"></i>
			</p>
			Gym
		</div>
		<div class="activityIconGroup">
			<p class='{{ isActivities "Meditation"}}' activity="Meditation">
			<i class="icon-Meditation" activity="Meditation"></i></p>
		Meditation
		</div>

		<div class="activityIconGroup">
			<p class='{{ isActivities "Soccer"}}' activity="Soccer">
			<i class="icon-Soccer" activity="Soccer"></i>
			</p>Soccer
		</div>
	</div>
</template>