<template name="myActivityCard">
	<div class="timeDetails">
		{{time.time}} <span class="activityDuration">  
		{{duration}} hours
		</span>

		<div class="timeline" style="max-width:{{getTimeLength}};"></div>
	</div>
	<div class="activityInfo">
		<div class="userPicture">
			<div class="h2">
				<div class="h2in">
					<!-- <img class="activity_img" src="{{getUserPicUrl}}"> -->
					<img src="{{getUserPicUrl}}">
				</div>
			</div>
		</div>
		<div class="activityDetails">
			<h2>{{type}}</h2>
			<i class="icon-{{type}} {{activityStatus}} activityIcon"></i>
			{{#if notHost}}
				created by <strong>you</strong>
			{{else}}
				with <strong>{{host.name}}</strong>
			{{/if}}

			<div class="location">
				{{> ionIcon icon="ios-location"}} {{ location.name}}
			</div>
		</div>	
	</div>	

	{{#if isHome }}
		<div class="submenu">
			<li class="submenuItem">
				{{> ionIcon icon="ios-people-outline" title="Friends"}}

				{{#if friendCount}}
					<label>{{friendCount}}</label>
				{{/if}}

			</li>
			<li class="submenuItem">
				{{> ionIcon icon="ios-chatboxes-outline" title="Messages"}}

				{{#if messageCount}}
					<label>{{messageCount}}</label>
				{{/if}}
			</li>

			<li class="submenuItem">
				{{> ionIcon icon='ios-information-outline' title="updates"}}
			</li>
		</div>
	{{/if}}

</template>