<template name="tagalongList">
    <article>
    <div class="row1">
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="10"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="2"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="1"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="7"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="12"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
	</div>
 	<div class="row2">
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="14"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="3"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="0"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="6"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="8"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
		<div class="lab_item">
			<div class="h2">
			<div class="h2in" order="15"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
	</div>
	<div class="row3">
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="11"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="4"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="5"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="9"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
        <div class="lab_item">
			<div class="h2">
			<div class="h2in" order="13"><img src="http://tagalong.fit/img/hex_bg.gif" width=90 height=90></div>
			</div>
		</div>
	</div>
	</article>
{{setHost}}
</template>