$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.contact-detail {
  background: $stable;
}

/****** Activity List *********/
#activityListPill {
	width:264px;

	li {
		width: 85px;
	}
}

#searchMenu {
	padding-bottom:5px;
	text-align: center;
}

#search-activities {
	margin-left: 5px;
	background-color: ghostwhite;
	border-radius: 4px;
	width: 75%;
	display: inline-block;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10pt;
}

#activity-search {
	/*right:30px;*/
}



.activityItem {
	font-size: 10pt;
	padding: 10px;

	div {
		display: inline-block;
	}

	.activityImage {
		vertical-align: top;
	}

	.activityInfo {
		padding: 2px;
		span {
			vertical-align: middle;
		}

		h2 {
			vertical-align: top;
			/*display: inline-block;*/
			font-size:24px;
		}

		h4 {
			font-size: 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.activityLogistics {
		padding: 0px;
		text-align: left;
		left:-10px;
		i {

			right: 0px;
			width: 14px;
			font-size: 12px;
			position: relative !important;
			display: inline-block;
			/*margin-left: 10px;*/
		}

		i:before {
			text-align: left;
			/*width:20px;*/
			/*margin:;*/
		}

		.icon:before {
			width:0px;
		}
	}
}

/******* Activity Detail ********/

.activityDetail {

	background-color: ghostwhite;
	height:75%;

	.header {
		padding-top: 0px ;

		img {
			left: 10px;
			max-width: none;
			max-height: none;
			width: 50px;
			height: 50px;
		}

		h1 {
			margin-top:10px;
			display: inline-block;
			font-size: 32px;
		}

		p {
			font-size: 12px;
		}

		span {
			font-weight: bold;
		}
	}

	.activityIcon {
		font-size: 25pt;
		padding-top: 15px;
		color: lightgray;
		float: right;
	}

	.details {

		


	}

	.activityLocation {
		padding: 0px;

		.info {
			padding:10px;
		}

		.locationMap {
			/*height:200px;*/
			width:100%;
			padding:0px;
		}
	}

	.activityTagalongs {

		p {
			font-size: 9pt;
		}

		img {
			max-width: none;
			max-height: none;
			margin:3px;
			width: 50px;
			height: 50px;
			border-radius:50%;
		}
	}

	.flake {

	}

}

#activity-join {
	position: fixed;
	width: 100%;
	/*border-radius:5px;*/
	bottom:9%;
	/*padding:10px;*/
	color: white;
	/*border: 1px solid gray;*/
	text-align: center;
	font-size: 12pt;

	.button.button-block,
	.button.button-full {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.tagalong {
	background-color: green;
}

.message  {
	background-color: orange;
}

/********* My Tagalongs ***********/

.pillSubmenu {
	background-color: white;

}
.pillMenu {
	margin: 0 auto;
	font-size: 11px;
	margin-bottom: 10px;
	width: 206px;
	text-align: center;
	border: solid 1px #387ef5;
	color: #387ef5;
	border-radius: 5px;

	li {
		text-decoration: none;
		display: inline-block;
		width: 100px;
		text-align: center;
		padding: 3px;
	}

	li.selected {
		background-color: #387ef5;
		color: white;
	}
}

.myActivityItem {
	font-size: 10pt;
	padding: 10px;


	h2 {
		margin-left: 10px;
		vertical-align: bottom;
		font-size:24px;

		i {
			float:right;
			margin-right: 15px;
			font-size: 25pt;
		}
	}

	/*i {
		position: relative !important;
	}*/

	.timeDetails {
		border-bottom: solid thin lightgray;

		span {
			margin-right: 15px;
		}

		.timeline {
			height:3px;
			background-color: orange;
		}
	}

	.activityInfo {
		display: inline-block;
		padding: 10px;
		vertical-align: top;

		.icon {
			font-size: 12pt;
		}
	}

	.activityDuration {
		float: right;
	}

	.submenu {
		text-align: center;
		margin-right: 20px;
		margin-left: 20px;

		li {
			display: inline-block;
			margin:5px;
			width: 30%;
		}

		.icon {
			font-size: 25pt;
		}

		label {
			background-color: red;
			width: 16px;
			padding: 2px;
			border-radius: 50%;
			height: 16px;
			text-align: center;
			vertical-align: top;
			font-size: 7pt;
			color: white;
			font-weight: bolder;
		}
	}
}


/*********** ADD ACTIVITY ***********/

.addActivity {

	/*padding: 2px;*/
	top: 25px;
	bottom: 10px;

	.subsection {
		margin:5px;
		background-color: rgba(211,211,211,.15);
		padding: 5px;
		border-radius: 2px;
		border: solid thin rgba(211,211,211,.4);
		/*opacity: .3;*/
	}

	.selected {
		background-color: #387ef5;
	}

	h5 {
		/*color: white;*/
		border-bottom: solid 1px black;
		padding: 5px;
		margin-top: 15px;
		vertical-align: bottom;

		span {
			margin-left: 10px;
			font-size: 12pt;
			font-weight: bold;
		}
	}

	.activityTypes {
		div {
			text-align: center;
		}

	}

	.activityIcon {
		text-decoration: none;
		background-color: white;
		display: inline-block;
		border-radius: 50%;
		border: solid thin black;
		width: 20%;
		margin: 5px;
	}

	.activityIcon.selected,
	.activityDay li.selected {
		background-color: #387ef5;
	}

	.activityDay {	
	
		/*color: white;*/

		ul {
			text-align: center;
		}

		li {
			text-align: center;
			text-decoration: none;
			display: inline-block;
			width: 35px;
			padding:5px 5px 5px 5px;
			background-color: lightgray;
			opacity:1;
			border-radius: 2px;
			font-size: 7pt;
			margin: 2px;
			color: white;

			div {
				font-size: 14pt;
				color: white;
				display: block;

			}
		}
	}

	img {
		width: 100%;
		padding:0px;
	}

	input {
		width: 50px;
		display: inline-block;
		background-color: lightgray;
		padding:2px;
		border-radius: 2px;
		font-size: 12pt;
		font-weight: bold;
	}

	#activityTime {
		width:125px
	}	

	#activityLocation {
		width:75%;
	}

	#activityComments {
		height: 80px;
		width: 100%;
		background-color: lightgray;
		padding:5px;
		border-radius: 2px;
	}

}



/******* USER PROFILE ********/

.userProfile {

	h3 {
		border-bottom: solid 1px black;
		padding: 5px;
	}

	h5 {
		/*color: white;*/
		margin-top: 15px;
		vertical-align: bottom;
	}

	.stats {
		display: none;
	}

	.viz {
		height: 150px;
		background-color: lightgray;
		border-radius: 3px;
	}

	.item {
		white-space: normal;
	}



	.activityIcon {
		text-decoration: none;
		background-color: white;
		display: inline-block;
		border-radius: 50%;
		border: solid thin black;
		width: 20%;
		margin: 5px;
	}

	.activityIcon.selected,
	.activityDay li.selected {
		background-color: #387ef5;
	}

	.selected {
		background-color: #387ef5;
	}

	.friends {
		img {
			max-width: none;
			max-height: none;
			margin:3px;
			width: 50px;
			height: 50px;
			border-radius:50%;
		}
	}
}

/****** EDIT PROFILE *********/

.selected {
	background-color: #387ef5;
}

.editProfile {
	vertical-align: bottom;

	input {
		width: 50%;
		display: inline-block;
		background-color: lightgray;
		padding-left:5px;
		border-radius: 2px;
		font-size: 12pt;
		font-weight: bold;
	}

	#editEmail {
		width:80%;
	}

	.editLabel {
		color: black;
		font-size: 8pt;
		margin-right: 5px;
	}

	.item {
		white-space: normal;
	}
}



/********* TESTINT **********/

.changeUser {
	padding:20px;
	font-size: 15pt;
	display: block;
	width:80%;
	margin-left: 30px;
}

.selectedUser {
	background-color: #387ef5;
	color: white;
}