$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.contact-detail {
  background: $stable;
}

.activityItem {
	font-size: 11px;
	padding: 10px;

	div {
		display: inline-block;
	}

	.activityImage {
		vertical-align: top;
	}

	.activityInfo {
		padding: 2px;
		span {
			vertical-align: middle;
		}

		h2 {
			vertical-align: top;
			/*display: inline-block;*/
			font-size:24px;
		}

		h4 {
			font-size: 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.activityLogistics {
		padding: 0px;
		text-align: left;
		left:-10px;
		i {

			right: 0px;
			width: 14px;
			font-size: 12px;
			position: relative !important;
			display: inline-block;
			/*margin-left: 10px;*/
		}

		i:before {
			text-align: left;
			/*width:20px;*/
			/*margin:;*/
		}

		.icon:before {
			width:0px;
		}
	}
		

}