<template name="activities">
	<div class="activityTypeGroups">
		{{#if inActivities "Walking"}}
			<div class="activityIconGroup">
				<p class="selected">
					<i class="icon-Walking" activity="Walking"></i>
				</p>Walking
			</div>
		{{/if}}

		{{#if inActivities "Running"}}
			<div class="activityIconGroup">
				<p class="selected">
				<i class="icon-Running" activity="Running"></i>
				</p>Running
			</div>
		{{/if}}
		
		{{#if inActivities "Hiking"}}
			<div class="activityIconGroup">
				<p class="selected">
				<i class="icon-Hiking" activity="Hiking"></i>
				</p>
				Hiking
			</div>
		{{/if}}

		{{#if inActivities "Swimming"}}
			<div class="activityIconGroup">
				<p class="selected">
					<i class="icon-Swimming" activity="Swimming"></i>
				</p>Swimming
			</div>
		{{/if}}

		{{#if inActivities "Cycling"}}
			<div class="activityIconGroup">
				<p class="selected">
				<i class="icon-Cycling" activity="Cycling"></i></p>Cycling
			</div>
		{{/if}}

		{{#if inActivities "Gym"}}
			<div class="activityIconGroup">
				<p class="selected">
				<i class="icon-Gym" activity="Gym"></i>
				</p>
				Gym
			</div>
		{{/if}}

		{{#if inActivities "Meditation"}}
			<div class="activityIconGroup">
				<p class="selected">
				<i class="icon-Meditation" activity="Meditation"></i></p>
			Meditation
			</div>
		{{/if}}

		{{#if inActivities "Soccer"}}
			<div class="activityIconGroup">
				<p class="selected">
				<i class="icon-Soccer" activity="Soccer"></i>
				</p>Soccer
			</div>
		{{/if}}
	</div>
</template>