<template name="allActivities">
	<div class="activityTypeGroups">
		<div class="activityIconGroup">
			<p class='{{ inActivities "Walking"}}'>
				<i class="icon-Walking" activity="Walking"></i>
			</p>Walking
		</div>
		<div class="activityIconGroup">
			<p class='{{ inActivities "Running"}}'>
			<i class="icon-Running" activity="Running"></i>
			</p>Running
		</div>
		<div class="activityIconGroup">
			<p class='{{ inActivities "Hiking"}}'>
			<i class="icon-Hiking" activity="Hiking"></i>
			</p>
			Hiking
		</div>
		<div class="activityIconGroup">
			<p class='{{ inActivities "Swimming"}}'>
				<i class="icon-Swimming" activity="Swimming"></i>
			</p>Swimming
		</div>
		<div class="activityIconGroup">
			<p class='{{ inActivities "Cycling"}}'>
			<i class="icon-Cycling" activity="Cycling"></i></p>Cycling
		</div>

		<div class="activityIconGroup">
			<p class='{{ inActivities "Gym"}}'>
			<i class="icon-Gym" activity="Gym"></i>
			</p>
			Gym
		</div>
		<div class="activityIconGroup">
			<p class='{{ inActivities "Meditation"}}'>
			<i class="icon-Meditation" activity="Meditation"></i></p>
		Meditation
		</div>

		<div class="activityIconGroup">
			<p class='{{ inActivities "Soccer"}}'>
			<i class="icon-Soccer" activity="Soccer"></i>
			</p>Soccer
		</div>
	</div>
</template>