<template name="allActivitiesForm">
	<div class="activityTypeGroups">
		<div class="activityIconGroup">
			<p  activity="Walking">
				<i class="icon-Walking" activity="Walking"></i>
			</p>Walking
		</div>
		<div class="activityIconGroup">
			<p  activity="Running">
			<i class="icon-Running" activity="Running"></i>
			</p>Running
		</div>
		<div class="activityIconGroup">
			<p  activity="Hiking">
			<i class="icon-Hiking" activity="Hiking"></i>
			</p>
			Hiking
		</div>
		<div class="activityIconGroup">
			<p activity="Swimming">
				<i class="icon-Swimming" activity="Swimming"></i>
			</p>Swimming
		</div>
		<div class="activityIconGroup">
			<p activity="Cycling">
			<i class="icon-Cycling" activity="Cycling"></i></p>Cycling
		</div>

		<div class="activityIconGroup">
			<p activity="Gym">
			<i class="icon-Gym" activity="Gym"></i>
			</p>
			Gym
		</div>
		<div class="activityIconGroup">
			<p activity="Meditation">
			<i class="icon-Meditation" activity="Meditation"></i></p>
		Meditation
		</div>

		<div class="activityIconGroup">
			<p activity="Soccer">
			<i class="icon-Soccer" activity="Soccer"></i>
			</p>Soccer
		</div>
	</div>
</template>