<template name="home">
<!--	{{#ionView}}
 		{{#contentFor 'headerTitle'}}
			<h1 class="title">Tagalong</h1>
			
				<button id="logBtn" onclick='alert("Hello World")'>Logout</button>	
		{{/contentFor}}
 -->
	{{#ionView}}
		{{#contentFor 'headerTitle'}}
			<h1 class="title">Tagalong</h1>

			<button id="logBtn" class="button button-clear pull-right" >Logout</button>
		{{/contentFor}}

		{{#ionContent}}
			{{> currentStreak }}

			<div class="upcomingTagalongs">
				<h5 class="listSubHeader">Upcoming Tagalongs</h5>
				{{#ionSlideBox }}
					{{#each upcomingTagalongs}}
						{{#ionSlide}}
							{{#ionItem class=" myActivityItem" path="activity"}}
								{{> myActivityCard}}
							{{/ionItem}}
						{{/ionSlide}}
					{{/each}}
				{{/ionSlideBox}}
		    </div>

		    <div class="notifications">
	    		{{#if hasNotifications}}
	    			<h5 class="listSubHeader">
	    				Notifications ({{ getNotificationsLength}})
	    				<button class="pull-right button button-small button-clear button-stable" id="removeNotifications">Clear</button>
			    	</h5>
		    		{{#ionList show-delete="shouldShowDelete" class="homeNotifications"}}
			    		{{#each messages}}
		    				{{#ionItem  class="homeNotification"}}
		    					{{#if isClickable}}
		    						<div class="notificationItem clickable" actid="{{this._id}}">
		    							{{> ionIcon icon="ios-information"}}
				    					<p class="notifMessage">{{this.message}}{{this.activity}}</p>
			    					</div>
		    					{{else}}
		    						<div class="notificationItem">
		    							{{> ionIcon icon="ios-information"}}
				    					<p class="notifMessage">{{this.message}}{{this.activity}}</p>
			    					</div>
		    					{{/if}}
		    					<ion-delete-button class='remove-notification pull-right ion-close-circled'></ion-delete-button>
			    							    				
			    			{{/ionItem}}
			    		{{/each}}		    		
		    		{{/ionList}}
	    		{{else }}
	    			<h5 class="listSubHeader">
	    				Notifications 
			    	</h5>
	    			<div class="prompt">You don't have notifications.</div>
	    		{{/if}}
		    </div>	
		{{/ionContent}}
	{{/ionView}}
</template>