<template name="home">
	{{#ionView}}
		{{#contentFor 'headerTitle'}}
			<h1 class="title">Tagalong</h1>

			<button class="button button-clear pull-right" id="logoutBtn">Logout</button>
		{{/contentFor}}

		{{#ionContent}}
			{{> currentStreak }}

			<div class="upcomingTagalongs">
				<h5 class="listSubHeader">Upcoming Tagalongs</h5>
				{{#ionSlideBox }}
					{{#each upcomingTagalongs}}
						{{#ionSlide}}
							{{#ionItem class="card myActivityItem" path="activity"}}
								<!-- {{> ionIcon icon="ios-arrow-forward" class='positive'}} -->
								<div class="timeDetails">
									{{time.time}} <span class="activityDuration">{{> ionIcon icon='ios-stopwatch'}}  {{duration}} hours</span>

									<div class="timeline" style="max-width:{{getTimeLength this.duration 3}};"></div>
								</div>
								<h2>{{type}} {{>ionIcon icon="android-bicycle"}}</h2>
								
								<img class="activity_img" src="{{getUserPicUrl}}">

								<div class="activityInfo">
									{{#if notHost}}
										My Activity
									{{else}}
										with <strong>{{host.name}}</strong>
									{{/if}}

									<div class="location">
										{{> ionIcon icon="ios-location"}} {{ location.name}}
									</div>	
								</div>					

								<ul class="submenu">
									<li class="submenuItem">
										{{> ionIcon icon="ios-people-outline" title="Friends"}}

										{{#if friendCount}}
											<label>{{friendCount}}</label>
										{{/if}}

									</li>
									<li class="submenuItem">
										{{> ionIcon icon="ios-chatboxes-outline" title="Messages"}}

										<!-- {{#if friendCount}}
											<label>{{friendCount}}</label>
										{{/if}} -->
									</li>

									<li class="submenuItem">
										{{> ionIcon icon='ios-information-outline' title="updates"}}

										<!-- {{#if friendCount}}
											<label>{{friendCount}}</label>
										{{/if}} -->
									</li>
								</ul>
							{{/ionItem}}
						{{/ionSlide}}
					{{/each}}
				{{/ionSlideBox}}
		    </div>

		    <div class="notifications">
	    		{{#if hasNotifications}}
	    			<h5 class="listSubHeader">
	    				Notifications ({{ getNotificationsLength}})
	    				<button class="pull-right button button-small button-clear button-stable" id="removeNotifications">Clear</button>
			    	</h5>
		    		{{#ionList show-delete="shouldShowDelete" class="homeNotifications"}}
			    		{{#each messages}}
		    				{{#ionItem  class="homeNotification"}}
		    					{{#if isClickable}}
		    						<div class="notificationItem clickable" actid="{{this._id}}">
		    							{{> ionIcon icon="ios-information"}}
				    					<p class="notifMessage">{{this.message}}{{this.activity}}</p>
			    					</div>
		    					{{else}}
		    						<div class="notificationItem">
		    							{{> ionIcon icon="ios-information"}}
				    					<p class="notifMessage">{{this.message}}{{this.activity}}</p>
			    					</div>
		    					{{/if}}
		    					<ion-delete-button class='remove-notification pull-right ion-close-circled'></ion-delete-button>
			    							    				
			    			{{/ionItem}}
			    		{{/each}}		    		
		    		{{/ionList}}
	    		{{else }}
	    			<h5 class="listSubHeader">
	    				Notifications 
			    	</h5>
	    			<div class="prompt">You don't have notifications.</div>
	    		{{/if}}
		    </div>	
		{{/ionContent}}
	{{/ionView}}
</template>