<template name="profile">
	{{#ionView}}
		{{#contentFor 'headerTitle'}}
			<h1 class="title">My Profile</h1>
		{{/contentFor}}

		<!-- {{#contentFor 'headerButtonLeft'}}
			{{> ionIcon icon="ios-arrow-back" class='headerIcons'}} Back
		{{/contentFor}} -->

		<!-- {{#ionHeaderBar class="bar-positive"}}
		    {{>ionNavBackButton path="main"}}
		    <h1 class="title">My Profile</h1>
		{{/ionHeaderBar}} -->

		{{#ionContent class='padding'}}
			<h3>My Profile</h3>

			<h3>My History</h3>
		{{/ionContent}}
	{{/ionView}}

</template>