<template name="profile">
	{{#ionView}}
		{{#contentFor 'headerTitle'}}
			<h1 class="title">My Profile</h1>
		{{/contentFor}}

		<!-- {{#contentFor 'headerButtonLeft'}}
			{{> ionIcon icon="ios-arrow-back" class='headerIcons'}} Back
		{{/contentFor}} -->

		<!-- {{#ionHeaderBar class="bar-positive"}}
		    {{>ionNavBackButton path="main"}}
		    <h1 class="title">My Profile</h1>
		{{/ionHeaderBar}} -->

		{{#ionContent class='padding'}}
			<h3>My Profile</h3>

			<h3>My History</h3>

			<button id="test-camera">CAMERA</button>
			<button id="test-photo">CAMERA photo</button>
			<button id="test-contacts">CONTACTS</button>
			<button id="test-notifications">notifications!</button>

		<table>
			<thead>
				<tr>
					<td>Badge#</td>
					<td>Added at</td>
					<td>Recieved at</td>
				</tr>
			</thead>
			{{> row}}
		</table>


		{{/ionContent}}
	{{/ionView}}
</template>

<template name="row">
	{{#each notificationHistory}}
		<tr>
			<td>{{badge}}</td>
			<td>{{addedAt}}</td>
			<td>{{recievedAt}}</td>
		</tr>
	{{/each}}
</template>