<template name="profile">
	{{#ionView}}
		{{#contentFor 'headerTitle'}}
			<h1 class="title">My Profile</h1>

			<button id="user-preferences-edit" class="button button-clear pull-right" data-ion-modal="userPreferences">
				  {{> ionIcon icon="ios-gear-outline"}} 
			</button>
		{{/contentFor}}

		{{#ionContent class='padding userProfile'}}
			{{#with userPreferences}}
				{{#ionItem avatar=true class='header'}}
					<img class="userPic" src="{{this.profile.names.pic}}">
					<h2>{{this.profile.names.first}} {{this.profile.names.last}}</h2>

					<p><span>{{emailAddress this.emails}}</span></p>

				{{/ionItem}}

				{{#ionItem class='body stats'}}
					<h3>Tagalong Statistics</h3>
					<h5>Streaks</h5>
					<div class='viz'></div>

					<h5>Habits</h5>
					<div class='viz'></div>

				{{/ionItem}}

				{{#ionItem class="body"}}
					<h3>Preferences</h3>
					<div class="activityTypes">	
						<h5>Activities:</h5>
						<div>
							<img src="/icons/walking.svg" activity="Walking" class='activityIcon {{ inActivities "Walking"}}'>
							<img src="/icons/running.svg" activity="Running" class='activityIcon {{ inActivities "Running"}}'>
							<img src="/icons/hiking.svg" activity="Hiking" class='activityIcon {{ inActivities "Hiking"}}'>
							<img src="/icons/swimming.svg" activity="Swimming" class='activityIcon {{ inActivities "Swimming"}}'>
							<img src="/icons/cycling.svg" activity="Cycling" class='activityIcon {{ inActivities "Cycling"}}'>
							<img src="/icons/gym.svg" activity="Gym" class='activityIcon {{ inActivities "Gym"}}'>
							<img src="/icons/meditation.svg" class='activityIcon {{ inActivities "Meditation"}}' activity="Meditation">
							<img src="/icons/soccer.svg" activity="Soccer" class='activityIcon {{ inActivities "Soccer"}}'>
						</div>
					</div>
					<div class='friends'>
						<h5>Friends:</h5>
						{{#each getFriends}}
							<li>
								<img class="tinyPic" src="{{this.profile.names.pic}}"><span class="userNames">{{this.profile.names.first}} {{this.profile.names.last}}</span>
							</li>
						{{/each}}
					</div>
				{{/ionItem}}

			{{/with}}
		{{/ionContent}}
	{{/ionView}}

</template>