<template name="tagalongs">
	{{#ionView}}
		{{#contentFor 'headerTitle'}}
			<h1 class="title">My Tagalongs</h1>

			<button id="activity-new" class="button button-clear pull-right" data-ion-modal="activityNew">
				  {{> ionIcon icon="ios-plus-empty"}} 
			</button>
		{{/contentFor}}
		
		{{#ionSubheaderBar class="pillSubmenu"}}
			<ul class="pillMenu">
				<li class="{{ selectedFilter 'Upcoming'}}">Upcoming</li>
				<li class="{{ selectedFilter 'Past'}}">Past</li>
			</ul>
		{{/ionSubheaderBar}}
		
		{{#ionContent}}
			
			{{#ionList}}
				{{#each activityDisplay}}
					<h5 class="listSubHeader">{{this.name}}</h5>
					{{#each this.activities}}
						{{#ionItem class=" myActivityItem" path="activity"}}
							{{> myActivityCard }}
						{{/ionItem}}					
					{{/each}}
				{{/each}}	

			{{/ionList}}			
		{{/ionContent}}
	{{/ionView}}
</template>