<template name='userPreferences'>
	{{#ionModal customTemplate=true}}
		<div class="bar bar-header bar-stable">
	        <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
	        <h2 class="title">User Preferences</h2>
	     	<button id="user-preferences-save" class="button button-positive button-clear">Save</button>
	    </div>


		{{#ionContent class='editProfile'}}
			{{#with getUser}}
				<h5 class="listSubHeader">Tap on the profile picture to change it</h5>
				{{#ionItem class='header'}}
					<div class="userPicture">
						<div class="h2">
							<div class="h2in">
								<img src="{{this.profile.names.pic}}" data-action="changePhotoActionSheet">
							</div>
						</div>
					</div>
					<div class="userDetails">
						<h2>{{this.profile.names.first}} {{this.profile.names.last}}</h2>

						<p><span>{{emailAddress this.emails}}</span></p>
					</div>

				{{/ionItem}}

				<h5 class="listSubHeader">Select the people you want to see on Tagalong</h5>
				{{#ionItem class=" friends"}}
					
						{{#each getFriends}}
							<li uid='{{this._id}}' class="friendAvatar selected">
								<div class="userPictureSmall">
									<div class="h2">
										<div class="h2in">
											<img src="{{this.profile.names.pic}}"><span class="userNames">{{this.profile.names.first}} {{this.profile.names.last}}</span>
										</div>
									</div>
								</div>
								
							</li>
						{{/each}}

						{{#each getUsers}} 
							<li uid='{{this._id}}' class="friendAvatar">
								<div class="userPictureSmall">
									<div class="h2">
										<div class="h2in">
											<img src="{{this.profile.names.pic}}"><span class="userNames">{{this.profile.names.first}} {{this.profile.names.last}}</span>
										</div>
									</div>
								</div>
							</li>
						{{/each}}
				{{/ionItem}}

				<h5 class="listSubHeader">Select the activities you are interested in</h5>
			    {{#ionItem class='addActivity'}}
			    	{{>allActivities}}
				{{/ionItem}}
			{{/with}}
		{{/ionContent}}
	{{/ionModal}}

</template>